<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Reutilizable</title>
    <link href="~/css/Header.css" rel="stylesheet" />
</head>
<body>

    <header class="custom-header">
        <!-- Logo -->
        <div class="custom-header-logo">
            <img src="~/Media/ICON.png" alt="Git Image" class="img-fluid" />
        </div>
        <!-- Logout -->
        <div class="custom-header-logout" onclick="logout()">Log Out</div>
    </header>

    <script>
        function logout() {
            sessionStorage.clear();
            window.location.href = '/';
        }
    </script>

</body>
</html>
